#img {
width: 400px;
height: px;
  }
#body {
  background-color: #1d1e21 ;
}
#p {
  color: #d9d9d9;
}
#btn {
  height: 40px;
  width: 140px;
  border: none;
border-radius: 78px;
}
#a {
  text-decoration: none;
  color: #1d1e21;
  }
